html,body,#root {
    font-family: 'Verdana';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    width: 100%;
  }
.chart-container{
    margin-left: 7%;
    margin-right: 7%;
}
.analytics{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 50px 50px 50px;
}

.smallChart{
    padding: 20px;
    width: 250px;
    margin: 10px;
}

#appBar{
    width: 100%;
    height: 60px;
    background-color: #fff;
    vertical-align: middle;
    color: black;

  }
  #title{
    padding-left: 20px ;
    height: auto;
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    vertical-align: middle;
  }
.mediumChart{
    padding: 20px;
    width: 350px;
    margin: 10px;
}

.largeChart{
    padding: 20px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#section{
    align-items: center;
    align-content: center;
}

.iconBtn{
    float: right;
}
#filterBar{
    width: 100%;
    height: 50px;
    padding-right: 10px;
}
#centerSection{
    margin-top: 50px;
}
.chartText{
    text-align: center;
    margin: 5px;
}

