.App{
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-repeat: repeat;
  align-items: center;
}

.hidden{
  display: none;
}
.rightToolbar{
  margin-left: auto;
  margin-right: 50px;
}
#titleImage{
  margin-top: 25px;
  width: 70%;
}
#banner-container{
  width: 100%;
}

.App-Content{
  color: #000;
  align-items: center;
  margin: 75px 2% 2% 2%;
}

#movie-img{
  width: 100%;
  align-self: center;
}


#autocomplete-box{
  width: 100px;
  margin-right: 10px;
}

#appBar{
  width: 100%;
  height: 60px;
  background-color: #fff;
  vertical-align: middle;
  color: black;
 
}

#title{
  height: auto;
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  vertical-align: middle;
}
footer{
  align-content: center;
  align-items: center;
}
footer nav{
  display:inline-block;
}
@media screen and (min-width: 1500px) {

  #banner-container{
    background-image: url("../resources/canadian-dollar.png") ;
    background-repeat: repeat;
  }

  #movie-img{
    width: 70%;
    align-self: center;
    
  }
} 

@media screen and (max-width: 600px) {

  .App-Content{
    margin: 20px 1% 1% 1%;
  }
  
  #title{
    font-size: 0.9rem;
    visibility: hidden;
  }
}
@media screen and (max-width: 350px) {
  .App-Content{
    margin: 20px 1% 1% 1%;
  }
  
  #title{
    font-size: 0.8rem;
    visibility: hidden;
  }
}
