
.App{
  text-align: center;
  background-size: auto;
  background-repeat: repeat;
  height: 100%;
  align-items: center;
}

.App-header{
  padding: 5px;
  color: #fff;
  font-family: Ubuntu;
  font-size : x-large;
}

.App-Content{
  color: #000;
  align-items: center;
  margin: 3%;
}

#movie-img{
  height: auto;
  width: 50%;
  align-self: center;
}

@media screen and (max-width: 1100px) {
  #movie-img{
    object-fit: contain;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  #movie-img{
    object-fit: contain;
    width: 300px;
  }
  .App-Content{
    margin: 2%;
  }
}
@media screen and (max-width: 350px) {
  .App-Content{
    margin: 1%;
  }
}
