.card{
    width:250px;
    height: 300px; 
    align-items: center;
}
.card-container{
    width: 250px;
    height: auto; 
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    margin-left : 4%;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.cardGridList{
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    /* margin: 40px; */
  

}
.title{
    width: 250px;
    font-size: .95em;
    font-weight: bold;
    text-align: left;
    margin-left: 3%;
    margin-top: 2%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#card-img{
    width:250px;
    padding: 10px;
    height: 300px;
    object-fit: stretch;
    align-self: auto;
    
}

