.card{
    align-items: center;
    padding: 0;
}
.card-container{
    width: 250px;
    height: fit-content;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    margin-left : 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
}
.cardGridList{
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    /* margin: 40px; */
}
.title{
    width: 250px;
    font-size: 1.05em;
    font-weight: bolder;
    text-align: left;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: darkblue;
}
.language{
    width: 250px;
    font-size: .95em;
    font-weight: bolder;
    text-align: left;
    margin-left: 3%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#card-img{
    width: 250px;
    height: 300px;
    padding: 3px;
    object-fit: stretch;
    align-self: auto;
    
}
#card-figure:hover{
    opacity: 0.3;
    /* visibility: hidden; */
}
#card-content{
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: 2;
    font-size: .95em;
    left: 0;
    top: 10%;
    text-align: center;
    visibility: hidden;
    align-content: center;
    align-items: center;
}
#card-figure:hover ~ #card-content{
    visibility: visible;
}

#star{
    width: 100px;
    height: 50px;
    fill: gold;
}

#ratingText{
    font-weight: bolder;
    font-size: 2.8em;
}

@media screen and (min-width: 2000px) {
    #card-img {
        width: 400px;
        height: 500px;
    }
    .card-container{
        width: 400px;
        margin-left : 2%;
        margin-right: 2%;
    }
    .title{
        width: 400px;
        font-size: .85em;
    }
    .language{
        width: 400px;
        font-size: .7em;
    }
  }

@media screen and (max-width: 600px) {
    #card-img {
        width: 150px;
        height: 210px;
    }
    .card-container{
        width: 150px;
        margin-left : 2%;
        margin-right: 2%;
    }
    .title{
        width: 150px;
        font-size: .85em;
    }
    .language{
        width: 150px;
        font-size: .7em;
    }
    #card-content{
        visibility: hidden;
    }
  }

  @media screen and (max-width: 400px) {
    #card-img {
        width: 120px;
        height: 160px;
    }
    .card-container{
        width: 120px;
        margin-left : 2%;
        margin-right: 2%;
        padding: 0;
    }
    .title{
        width: 120px;
        font-size: .85em;
    }
    .language{
        width: 120px;
        font-size: .7em;
    }
    #card-content{
        visibility: hidden;
    }
  }
  
  