
#container{
    width: 100%;
  height: 100%;
  background-color: #fff;
}
#appBar{
    width: 100%;
    height: 60px;
    background-color: #fff;
    vertical-align: middle;
    color: black;
   
  }
.movie-header{
    width: 100%;
    padding: 10px;
}
.movie-detail{
    background-color: #fff;
    width: 100%;
}
.tabbar{
    color: white;
}
.hidden{
    display: none;
}
#trailer_container{
    width: fit-content;
    height: fit-content;
}
#trailer{
    width: 400px;
    height: 300px;
    float: right;
}
.rightToolbar{
    margin-left: auto;
  }
#title{
    visibility: visible;
    text-decoration: none;
    margin: 0 0 0 20px;
    font-size: medium;
}

#card{
    width: fit-content;
    float: left;

}

#movie-description{
    width: fit-content;
    float: left;
    overflow-wrap: break-word;
    padding-left: 5%;
}
#footerText{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
  }
  
#starPhoto{
    margin-top: 15px;
    margin-bottom: 10px;
}


.headerLevel1 {
    font-size: 1.8em;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 0;
    height: auto;
}

.headerLevel2{
    font-size: 1.4em;
    font-weight: normal;
    height: auto;
    font-family: sans-serif;
    margin: 0;
}
.social-media-icon{
    margin-right: 5px;
}
.icon-container{
    margin-bottom: 10px;
    margin-top: 10px;
}

#ratingText{
    font-size: 1.4em;
    font-weight: bolder;
}

#instagramBtn{
    float: none;
    clear: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
.ratingHearts{
    margin-top: 10px;
}
.infoBtn{
    margin-left: 10px;
}
.tab{
    width: 33%;
}

.MuiGridList-root{
    padding: 20px;
}


#card-img{
    width: 250px;
    height: 300px;
    padding: 3px;
    object-fit: stretch;
    
}

h5,h6{
    text-align: center;
}

.centerAligned{
    position: relative;
    text-align: center;
}

.topHeader{
    width: 100%;
    margin-top: 20px;
}


.leftFloat{
    float: left;
}

.review-component {
    font-size: larger;
    text-align: justify;
}
#ticket-component{
    width: 100%;
    padding: 20px;
}
.flexbox-container{
    display: flex;
    flex-direction: row;
}
.checkIcon{
    color: green;
    margin-right: 20px;
}
.cancelIcon{
    color: red;
    margin-right: 20px;
}
.centerText{
    text-align: center;
    width: 100%;
}
.movieIcon{
    color: black;
    margin-right: 20px;
}
.subsection{
    margin-top: 25px;
}
#ticket-container{
    width: 350px;
    align-items: center;
    margin-top: 25px;
}
.ticketImage{
    width: 350px;
}
h4{
    text-align: center;
}
h5,h6{
    text-align: left;
}
.Ticket{
    text-align: center;
}
.bullets{
    font-weight: normal;
    font-size: large;
    margin-top: 10px;
}
.pointerText{
    padding: 3px;
    text-align: justify;
}
.graphContainer{
    margin-top: 25px;
}
.graphImage{
    width: 500px;
    height: 500px;
}
@media screen and (min-width: 2100px) {
    #card-img {
        width: 400px;
        height: 500px;
    }

    #card{
        float: left;
        margin-left: 50px;
        margin-top: 50px;
    }
    
    #movie-description{
        margin-left: 20px;
        margin-top: 50px;
    }
    
    #trailer{
        margin-right: 50px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 2100px){
    #card{
        margin-left: 50px;
        margin-top: 20px;
    }
    #movie-description{
        margin-top: 20px;
    }
    #trailer{
        margin-right: 50px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 957px) {
    .movie-detail{
        margin-top: 370px;
    }
    .review-component {
        margin:20px
    }
    .graphImage{
        width: 400px;
        height: 400px;
    }
}


@media screen and (max-width: 1398px) {

    #card{
        float: left;
        margin-left: 50px;
    }
    
    #card-img {
        width: 220px;
        height: 250px;
    }
    #movie-description{
        float: left;
        padding-left: 3%;
    }
    
}

@media screen and (max-width: 958px) {
    #card-img {
        width: 200px;
        height: 260px;
    }
    #card{
        float: none;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    #movie-description{
        float: left;
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (max-width: 576px) {
    #card{
        align-self: center;
        float: none;
        margin-left: auto;
        margin-right: auto;
    } 
    
    #card-img {
        width: 150px;
        height: 200px;
    }
    
    #movie-description{
        width: fit-content;
        float: left;
        padding-left: 5%;
        padding-right: 5%;
    }
    .graphImage{
        width: 300px;
        height: 300px;
    }
    .headerLevel1 {
        font-size: 1.1em;
    }
    
    .headerLevel2{
        font-size: 1.0em;
    }
    #title{
        font-size: smaller;
        margin-left: 5px;
    }
    #ratingText{
        font-size: 1em;
        font-weight: bolder;
    }


}

@media screen and (max-width: 330px) {
   
    #title{
        font-size: 0.65;
        margin-left: 5px;
    }

}