
#container{
    width: 100%;
  height: 100%;
  background-color: #fff;
}
#appBar{
    width: 100%;
    height: 60px;
    background-color: #fff;
    vertical-align: middle;
    color: black;
   
  }
.movie-header{
    width: 100%;
    padding: 20px;
}
.movie-detail{
    background-color: #fff;
    width: 100%;
}

#trailer_container{
    width: fit-content;
    height: fit-content;
}
#trailer{
    width: 400px;
    height: 300px;
    float: right;
}

#title{
    visibility: visible;
    text-decoration: none;
    margin-left: 20px;
}

#card{
    width: fit-content;
    float: left;
}

#movie-description{
    width: fit-content;
    float: left;
    overflow-wrap: break-word;
    padding-left: 5%;
}

#starPhoto{
    margin-top: 15px;
    margin-bottom: 10px;
}


.headerLevel1 {
    font-size: 1.3em;
    font-weight: bolder;
    margin: 0;
    height: auto;
}

.headerLevel2{
    font-size: 1em;
    font-weight: bold;
    height: auto;
    margin: 0;
}


#ratingText{
    font-size: 1.4em;
    font-weight: bolder;
}

#instagramBtn{
    float: none;
    clear: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}


.tab{
    width: 33%;
}

.MuiGridList-root{
    padding: 100px;
}


#card-img{
    width: 250px;
    height: 300px;
    padding: 3px;
    object-fit: stretch;
    
}

h5,h6{
    text-align: center;
}

.centerAligned{
    position: relative;
    text-align: center;
}

.topHeader{
    width: 100%;
    margin-top: 20px;
}


.leftFloat{
    float: left;
}

@media screen and (min-width: 2100px) {
    #card-img {
        width: 400px;
        height: 500px;
    }

    #card{
        float: left;
    }
    
    #movie-description{
        float: right;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #trailer{
        width: 800px;
        height: 540px;
        float: right;
    }

}
@media screen and (max-width: 1398px) {

    #card{
        float: left;
    }
    
    #card-img {
        width: 220px;
        height: 250px;
    }
    #movie-description{
        float: left;
        padding-left: 3%;
    }
    
    .movie-header{
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 958px) {
    #card-img {
        width: 200px;
        height: 260px;
    }
    #card{
        float: none;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    #movie-description{
        float: left;
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (max-width: 576px) {
    #card{
        align-self: center;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    #card-img {
        width: 150px;
        height: 200px;
    }
    
    #movie-description{
        width: fit-content;
        float: left;
        padding-left: 5%;
        padding-right: 5%;
    }

    .headerLevel1 {
        font-size: 1.1em;
    }
    
    .headerLevel2{
        font-size: 0.9em;
    }

    #ratingText{
        font-size: 1em;
        font-weight: bolder;
    }


}