

html,body,#root {
    font-family: 'Verdana';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    width: 100%;
  }
.hidden{
    display: none;
}
#trailer{
    width: 400px;
    height: 300px;
    float: right;
}
.rightToolbar{
    margin-left: auto;
  }
#title{
    visibility: visible;
    text-decoration: none;
    margin: 0 0 0 20px;
    font-size: medium;
}

.movieDetail{
    height: 380px;
}


.fixedFooter{
    position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
  }

.filmImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footerText{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
  }

#starPhoto{
    margin-top: 15px;
    margin-bottom: 10px;
}


.headerLevel1 {
    width: fit-content;
    font-size: 1.8em;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 0;
    height: auto;
}

.headerLevel2{
    font-size: 1.4em;
    font-weight: normal;
    height: auto;
    font-family: sans-serif;
    margin: 0;
}
.social-media-icon{
    margin-right: 5px;
}
.icon-container{
    width: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
}
.ratingHearts{
    margin-top: 10px;
}
.infoBtn{
    margin-left: 10px;
}
#movie-card{
    width: 250px;
    height: 300px;
    padding: 3px;
    display: block;
    z-index: 999;
}

h5,h6{
    text-align: center;
}

.centerAligned{
    position: relative;
    text-align: center;
}

.topHeader{
    width: 100%;
    margin-top: 20px;
}


.leftFloat{
    float: left;
}

.review-component {
    width: 100%;
    font-size: larger;
    text-align: justify;
}
#ticket-component{
    width: 100%;
    padding: 20px;
}
.flexbox-container{
    display: flex;
    flex-direction: row;
}
.checkIcon{
    color: green;
    margin-right: 20px;
}
.cancelIcon{
    color: red;
    margin-right: 20px;
}
.centerText{
    text-align: center;
    width: 100%;
}
.movieIcon{
    color: black;
    margin-right: 20px;
}
.subsection{
    margin-top: 25px;
}
#ticket-container{
    width: 350px;
    align-items: center;
    margin-top: 25px;
}
.ticketImage{
    width: 350px;
}
.card-container{
    padding: 2px;
}
h4{
    text-align: center;
}
h5,h6{
    text-align: left;
}
.bullets{
    font-weight: normal;
    font-size: large;
}
.pointerText{
    width: 100%;
    display: block;
    text-align: justify;
}
.graphContainer{
    margin-top: 25px;
}
.graphImage{
    width: 500px;
    height: 500px;
}
.subHeader{
    margin-bottom: 20px;
}
@media screen and (min-width: 2100px) {
    #movie-card {
        width: 400px;
        height: 500px;
    }

    #trailer{
        width: 700px;
        height: 400px;
        margin-right: 50px;
        margin-top: 50px;
    }
    #movie-card {
        width: 500px;
        height: 400px;
    }
    .movieDetail{
        height: 530px;
    }
}

@media screen and (max-width: 2100px){
    #trailer{
        margin-right: 50px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 957px) {

    .review-component {
        padding:0 20px 20px 20px;

    }
    .graphImage{
        width: 400px;
        height: 400px;
    }
}


@media screen and (max-width: 1398px) {

    #movie-card {
        width: 220px;
        height: 250px;
    }

}

@media screen and (max-width: 958px) {
    #movie-card {
        width: 200px;
        height: 260px;
        }
}
@media screen and (max-width: 576px) {
    #movie-card {
        width: 150px;
        height: 200px;
    }
    .graphImage{
        width: 300px;
        height: 300px;
    }
    .headerLevel1 {
        font-size: 1.1em;
    }

    .headerLevel2{
        font-size: 1.0em;
    }
    #title{
        font-size: smaller;
        margin-left: 5px;
    }
    .filmImage{
        max-width: 300px;
    }
}

@media screen and (max-width: 330px) {

    #title{
        font-size: 0.65;
        margin-left: 5px;
    }

}