.App{
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-repeat: repeat;
  align-items: center;
}
#appBar{
  width: 100%;
  height: 60px;
  background-color: #fff;
  vertical-align: middle;
  color: black;
 
}
.hidden{
  display: none;
}
.rightToolbar{
  margin-left: auto;
}
.bannerBackground{
  background-color: #fff;
  }
#titleImage{
  margin-top: 25px;
  width: 70%;
}
.cardList{
  margin: 10px 5px 20px 5px;
}
#banner-container{
  /* width: 100%; */
}

.App-Content{
  color: #000;
  align-items: center;
  margin: 75px 2% 2% 2%;
}

#searchField{
  width: 250px;
  border-radius: 20px;
  margin-right: 20px;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  border-color: purple;
  font-size: large;
}

.iconBtn{
  margin-left: 10px;
}
.social-icon{
  margin-right: 15px;
}
#toolBar{
  width: 100%;
  height: 60px;
  vertical-align: middle;
  color: black;
  background-color: #66023c;
}

#title{
  height: auto;
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  vertical-align: middle;
}
footer{
  align-content: center;
  align-items: center;
}
footer nav{
  display:inline-block;
}
#footerText{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  align-items: center;
}
.filter-sort{
  margin-top: 0px;
  margin-bottom: 2%;
  width: 100%;
  float: right;
  padding: 10px;
  color: #000;
  background-color: purple;
}
.MuiPaper-root{
  background-color: black;
}

@media screen and (min-width: 2000px){
  #searchField{
    width: 400px;
    border-radius: 25px;
    margin-right: 50px;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
  }
}
@media screen and (min-width: 600px) {

  #titleImage{
    width: 40%;
  }
  .cardList{
    margin: 10px;
  }
  .App-Content{
    margin: 100px 20px 20px 20px;
  }
  .filter-sort{
    padding-left: 10%;
    padding-right: 10%;
  }
} 

@media screen and (max-width: 600px) {

  .App-Content{
    margin: 100px 1% 1% 1%;
  }
  
  #title{
    font-size: 1.0rem;
    visibility: hidden;
  }
  #searchField{
    width: 200px;
    border-radius: 15px;
    margin-right: 15px;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
  }
}
@media screen and (max-width: 400px) {
  .App-Content{
    margin: 100px 1% 1% 1%;
  }
  
  #title{
    font-size: 1rem;
    visibility: hidden;
  }

  #searchField{
    width: 150px;
    border-radius: 15px;
    margin-right: 5px;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: medium;
  }

}
@media screen and (max-width: 300px){
  #searchField{
    width: 100px;
    border-radius: 10px;
    margin-right: 2px;
    border-width: 1px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: medium;
  }
}