.App{
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-repeat: repeat;
  align-items: center;
}

.hidden{
  display: none;
}
.rightToolbar{
  margin-left: auto;
}

#titleImage{
  margin-top: 25px;
  width: 70%;
}
.cardList{
  margin: 10px 5px 20px 5px;
}
#banner-container{
  width: 100%;
}

.App-Content{
  color: #000;
  align-items: center;
  margin: 75px 2% 2% 2%;
}




#autocomplete-box{
  width: 150px;
  height: 25px;
  margin-right: 10px;
}
.social-icon{
  margin-right: 15px;
}
#appBar{
  width: 100%;
  height: 60px;
  background-color: purple;
  vertical-align: middle;
  color: black;
 
}

#title{
  height: auto;
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  vertical-align: middle;
}
footer{
  align-content: center;
  align-items: center;
}
footer nav{
  display:inline-block;
}
#footerText{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  align-items: center;
}
.filter-sort{
  float: right;
  padding: 10px;
  color: #000;
}
@media screen and (min-width: 600px) {

  #banner-container{
    background-image: url("../resources/canadian-dollar.png") ;
    background-repeat: repeat;
  }

  #titleImage{
    width: 40%;
  }
  .cardList{
    margin: 10px;
  }
  .App-Content{
    margin: 20px;
  }
  .filter-sort{
    padding-left: 10%;
    padding-right: 10%;
  }
} 

@media screen and (max-width: 600px) {

  .App-Content{
    margin: 5px 1% 1% 1%;
  }
  
  #title{
    font-size: 1.0rem;
    visibility: hidden;
  }
}
@media screen and (max-width: 400px) {
  .App-Content{
    margin: 20px 1% 1% 1%;
  }
  
  #title{
    font-size: 0.9rem;
    visibility: hidden;
  }

  #autocomplete-box{
    width: 100px;
  }
}
