html,body,#root {
  font-family: 'Straight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../resources/memphis-colorful.png");
  background-repeat: repeat;
  background-blend-mode: soft-light;
  
}

@font-face {
  font-family: 'Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../resources/regular.ttf'); 
}

@font-face {
  font-family: 'Straight';
  font-style: normal;
  font-weight: 400;
  src: url('../resources/straight.ttf'); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
