.review-component {
    font-size: larger;
    text-align: justify;
}
#ticket-component{
    width: 100%;
    padding: 20px;
}
.flexbox-container{
    display: flex;
    flex-direction: row;
}
.checkIcon{
    color: green;
    margin-right: 20px;
}
.cancelIcon{
    color: red;
    margin-right: 20px;
}
.movieIcon{
    color: black;
    margin-right: 20px;
}
.subsection{
    margin-top: 25px;
}
#ticket-container{
    width: 350px;
    align-items: center;
    margin-top: 25px;
}
.ticketImage{
    width: 350px;
}
h4{
    text-align: center;
}
h5,h6{
    text-align: left;
}
.Ticket{
    text-align: center;
}
.bullets{
    font-weight: normal;
    font-size: large;
    margin-top: 10px;
}
.pointerText{
    padding: 3px;
    text-align: justify;
}
.graphContainer{
    margin-top: 25px;
}
.graphImage{
    width: 500px;
    height: 500px;
}
@media screen and (min-width: 900px) {
    .review-component {
        margin:20px
    }
    .graphImage{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    
    .graphImage{
        width: 300px;
        height: 300px;
    }
}