.chart-container{
    margin-left: 7%;
    margin-right: 7%;
}
.analytics{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 50px 50px 50px;
}
#title{
    margin: 0 0 0 10px;
    height: fit-content;
}
.smallChart{
    padding: 20px;
    width: 250px;
    margin: 10px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
#movieChart{
    margin-top: 10px;
}
.mediumChart{
    padding: 20px;
    width: 350px;
    margin: 10px;
}
#toolbar{
    align-items: center;
    margin: 0;
    padding: 0 15px 0 15px;
}